[submodule "libs/Utilities-OG"]
	path = libs/Utilities-OG
	url = https://github.com/true-og/Utilities-OG
[submodule "libs/Vanish-OG"]
	path = libs/Vanish-OG
	url = https://github.com/true-og/Vanish-OG
